{% extends "StiwlPageBundle::template.html.twig" %}
{% trans_default_domain "StiwlPageBundle" %}
{% block title %}{% trans %}news{% endtrans %}{% endblock %}
{% block content %}
    {% set truncateLength = '450' %}
<div class="content">
    <div class="content_resize">
        <div class="sidebar">
            {{ render(controller('StiwlPageBundle:Page:newsSidebar', {'_locale':app.request.locale })) }}
            </div>
            <div class="mainbar">
                <h1>{% trans %}news{% endtrans %}</h1>
            {% for news in news %}
                <div class="article">
                    <h2><span>{{ news.languages.0.title }}</span></h2>
                    <p class="infopost">{% trans %}created_at{% endtrans %}: {{ news.createdAt | localizeddate('long','none') }}
                            {#<a href="javascript:void(0)" class="com">
                                <span style="display: block; font-size: 16px; margin-top: -5px;">stock</span>
                        <span style="font-size: 22px;display: block">{{ product.stock }}</span>
                            </a>#}
                        </p>
                        <div class="clr"></div>
                    {#<div class="img">
                        <img src="{{ asset('bundles/StiwlPage/css/zayo/images/img1.jpg') }}" width="177" height="213" alt="" class="fl" />
                    </div>#}
                        <div class="post_content">
                            <p>{{ news.languages.0.content | truncate(truncateLength,true) | raw }}</p>
                    {% if news.languages.0.content | truncate(truncateLength,true) | length > truncateLength %}
                            <p class="spec">
                                <a href="{{ path('stiwl_pageB_news_content',{'newsId':news.id,'newsSlug':news.languages.0.slug}) }}#{{ news.id }}" class="rm">{% trans %}read_more{% endtrans %}</a>
                            </p>
                    {% endif %}
                            <div class="clr"></div>
                        {% if is_granted("ROLE_ADMIN") %}
                            <p class="spec">
                                <a href="{{ path('admin_stiwl_page_news_edit',{'id':news.id}) }}" class="rm">{% trans %}edit{% endtrans %}</a>
                            </p>
                        {% endif %}
                        </div>
                        <div class="clr"></div>
                    </div>
            {% else %}
                        {% trans %}no_news_yet{% endtrans %}
            {% endfor %}
                </div>
                <div class="clr"></div>
            </div>
        </div>
{% endblock content %}
