{% extends "StiwlPageBundle::template.html.twig" %}
{% trans_default_domain "StiwlPageBundle" %}
{% block title %}{% trans %}products{% endtrans %}{% endblock %}
{% block content %}
    {% set truncateLength = 450 %}
<div class="content">
    <div class="content_resize">
        <div class="sidebar">
            <div class="gadget">
                {{ render(controller('StiwlPageBundle:Page:categories',{'_locale':app.request.locale})) }}
                </div>
            </div>
            <div class="mainbar">
                {% if productsPagination.0 is defined%}
                    <h1>{{ productsPagination.0.category.languages.0.description }}</h1>
                {% else %}
                    <h1>{% trans %}no_categories_yet{% endtrans %}</h1>
                {% endif %}
                    <div id="navigation">
                {{ knp_pagination_render(productsPagination) }}
                        </div>
            {% for product in productsPagination %}
                        <div class="article">
                            <h2><span>{{ product.languages.0.name }}</span></h2>
                            <p class="infopost">{% trans %}created_at{% endtrans %} {{ product.createdAt | localizeddate('long','none') }}
                            {#<a href="javascript:void(0)" class="com">
                                <span style="display: block; font-size: 16px; margin-top: -5px;">stock</span>
                        <span style="font-size: 22px;display: block">{{ product.stock }}</span>
                            </a>#}
                                </p>
                                <div class="clr"></div>
                                <div class="img">
                    {#<img src="{{ asset('bundles/StiwlPage/css/zayo/images/img1.jpg') }}" width="177" height="213" alt="" class="fl" />#}
                        {% thumbnail product.image, 'medium' %}
                                    </div>
                                    <div class="post_content">
                                        <p>{{ product.languages.0.description | truncate(truncateLength,true) | raw }}</p>
                    {% if product.languages.0.description | truncate(truncateLength,true) | length > truncateLength %}
                                        <p class="spec">
                                            <a href="{{ path('stiwl_pageB_product',{'productId':product.id,'productSlug':product.languages.0.slug}) }}#{{ product.id }}" class="rm">{% trans %}read_more{% endtrans %}</a>
                                        </p>
                    {% endif %}
                                        <div class="clr"></div>
                                        <p class="spec">
                                            <strong>{% trans %}price{% endtrans %}: {{ stiwl_page_config.enterprise.money }} {{ product.price }}</strong>
                                        </p>
                                {% if is_granted("ROLE_ADMIN") %}
                                        <p class="spec">
                                            <a href="{{ path('admin_stiwl_page_product_edit',{'id':product.id}) }}" class="rm">{% trans %}edit{% endtrans %}</a>
                                        </p>
                                {% endif %}
                                    </div>
                                    <div class="clr"></div>
                                </div>
            {% else %}
                {% trans %}no_products_yet{% endtrans %}
            {% endfor %}
                            </div>
                            <div class="clr"></div>
                        </div>
                    </div>
{% endblock content %}
